<table class="table table-sm">
  <thead class="thead-light">
    <tr>
      <th>site</th>
      <th>name</th>
      <th>%</th>
      <th>last changed at</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><a href="<%= project.url %>"><%= site_image_tag(project.site) %></a></td>
        <td>
          <a href="/projects/<%= project.id %>"><%= project.full_name %> <%= project.path %></a>
        </td>
        <td><%= project.status_percentage %>%</td>
        <td><%= l(project.last_gemfile_lock_changed_at) %></td>
        <td>
          <form action="/projects/<%= project.id %>" method="post" onsubmit="return confirm('Are you sure?');">
            <input type="hidden" name="_method" value="delete">
            <input type="submit" value="destroy">
          </form>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<form action="/projects" method="POST">
  <label for="name">name</label>
  <input type="text" name="url" id="url" placeholder="https://github.com/user_or_org/repo_name" required>
  <label for="path">path</label>
  <input type="text" name="path" id="path" placeholder="/" required>
  <br>
  <input type="submit" value="Create">
</form>
