<h1><a href="<%= @project.url %>"><%= site_image_tag(@project.site) %></a> <%= @project.full_name_with_path %></h1>

<p>status percentage: <%= @project.status_percentage %>%</p>
<p>Last changed at: <%= l(@project.last_gemfile_lock_changed_at) %></p>

<form action="/projects/<%= @project.id %>/sync" method="post" class="mb-3">
  <input type="submit" value="Sync!">
</form>

<table class="table table-sm">
  <thead class="thead-light">
    <tr>
      <th>name</th>
      <th>locked_version</th>
      <th>specified_version</th>
      <th>current_version</th>
      <th>status</th>
      <th>vulnerable</th>
    </tr>
  </thead>
  <tbody>
    <% @project.project_gem_versions.sort_by {|pg| pg.gem_version.name }.each do |pg| %>
      <%
        row_class_name = case pg.status
                         when ProjectGemVersion::Status::OUTDATED then "table-danger"
                         when ProjectGemVersion::Status::BEHIND   then "table-warning"
                         when ProjectGemVersion::Status::LATEST   then ""
                         when ProjectGemVersion::Status::UNKNOWN  then "table-secondary"
                         end
      %>
      <tr class="<%= row_class_name %>">
        <td><a href="/gem_versions/<%= pg.gem_version.name %>"><%= pg.gem_version.name %></a></td>
        <td><%= pg.locked_version %></td>
        <td><%= pg.specified_version %></td>
        <td><%= pg.gem_version.version %></td>
        <td>
          <%= status_tag(pg.status) %>
        </td>
        <td>
          <% if pg.advisories.any? %>
            <% pg.advisories.each do |advisory| %>
              <%= advisory_tag(advisory) %>
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
